# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
coverage/

# environment
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# editor
.vscode/*
!.vscode/
!.vscode/*.code-snippets
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
apps/backend/prisma/migrations/dev/

# documents
*.docx